header{height:80px; width:100%; background:#111111; position:relative;}
header .inner{outline:0px solid red;width:1440px; margin:0 auto; height:100%;position:relative; display:block;}
header .inner h1#pclogo{position:relative; z-index:60; float:left; outline:0px solid yellow;width:210px; padding-top:24px;}
header .inner h1#pclogo img{width:100%;}

header nav{display:block;float:left; position:absolute; z-index:50; top:0;width:100%;}
header nav ul{outline:0px solid orange;padding-left:30%; width:100%;}
header nav ul li{display:inline-block; border:0px solid yellow; padding:30px 44px 20px 0;}
header nav ul li a{font-size:24px; font-family: 'nanum-square-b'; color:#fff;}
header nav ul li:first-child{padding-left:0; /*transform: translate3d(0px, 0px, 0px);transform-style:preserve-3d;*/}
header nav ul li:last-child{padding-right:0;}

header .inner div#find{
	float:right;
	position: absolute;
	z-index: 60;
	right: 0;
}

header .inner form {border:0px solid blue; float:left;}
header .inner form input#search{
	padding-top:25px;
	padding-right:5px;
	border:0px solid #000;
	width:180px; background-color:rgba(0,0,0,0);
	font-family:'nanum-square-r';
	color:#fff;
	font-size:24px;
	text-indent:100px;
}

header .inner form input#magnifier{
	padding-top: 15px;
	border:0px solid red;
}

/*메뉴바 제이쿼리*/

header nav ul {
	/*margin:100px 0 0 0; padding: 0;*/

    float: left;
	display:inline;

	width: 100%; /*콘테이너 사이즈와 같은 값으로*/
	position: relative;
	border:0px solid green;

}
header nav ul li {
	float: left;
}
header nav ul li a {
	display: block;
}
header nav ul li span {
	float: left;
	padding: 11px 0;
	position: absolute;
	z-index:100;
	left: 0; top:80px;
	display: none;
	width: 100%; /*콘테이너 사이즈와 같은 값으로*/
	background-color:rgba(0,0,0,0.4);
	color: #fff;
	padding-left:30%;
}
header nav ul li:hover span { display: block; }
header nav ul li span a {display: inline;font-size:17px; font-family: 'nanum-square-r'; color:#fff; padding:35px 10px;}
header nav ul li span a:hover {text-decoration: none;/*background:#5c150e*/ color:#c88959;} /*서브메뉴 마우스 오버 칼라*/
.bar {color:#c88959}
/*//메뉴바 제이쿼리*/
header .inner div#menu{display:none; float:left; padding:20px 0 0 30px;}
@media all and (min-width:1400px) and (max-width:1599px){
	header .inner{width:1400px; display:block;}
	header nav{display:block;}
	header nav ul{
		/*margin-left:130px;*/}
	header nav ul{padding-left:25%;}
header .inner form input#search{
	width:180px; /*<-바뀐부분*/
}
}
@media all and (max-width:1399px){
	header .inner{display:none;}
	header nav{display:none;}
}
@media all and (min-width:1280px) and (max-width:1399px){

}
/*
@media all and (min-width:1280px) and (max-width:1399px){
	header .inner{width:92.5%; }
	header nav{display:none;}
	header div#menu{display:block; border:0px solid red;}
	header nav ul{padding-left:30%;}
	header nav ul li span {
	padding-left:25%;
}
}
*/
/*header 태블릿형*/
/*
@media all and (min-width:600px) and (max-width:1279px){
	header .inner{width:92.5%; border:0px solid cyan; }
	header .inner h1#pclogo{width:160px; border:0px solid red;}
	header nav{display:none;}
	header .inner div#find{border:0px solid black;}
	header div#menu{display:block;}
}*/
 /* 태블릿 종료*/

 /*header 태블릿형*/

@media all and (min-width:600px) and (max-width:1279px){
	.cd-logo{width:210px; border:0px solid red;}
	.cd-nav-trigger{margin-top:15px !important;}
}
 /* 태블릿 종료*/

/*header 모바일형*/
/*
@media all and (max-width:599px){
	header{height:18vw;}
	header .inner{width:91.67%; border:0px solid cyan;}
	header .inner h1#pclogo{width:33.33%; border:0px solid red;
	padding:0; padding-top: 7vw;}
	header nav{display:none;}
	header .inner div#find{border:0px solid black; width:20.83%;
	}
	header form{width:30%; border:0px solid red;
	margin-left:10%;}
	header form input#search{display:none;}
	header form input#magnifier{width:100%; padding:0; margin-left:5%; padding-top:7vw;}
	header div#menu{display:block;
	padding:0; padding-top:7vw; margin-left:25%;
	width:35%; border:0px solid orange;}
	header div#menu a{}
	header div#menu a img{width:100%;}
}*/
/*모바일 종료*/
@media all and (max-width:599px){
	.cd-logo{width:33.33% !important; padding-top:7vw; border:0px solid red;}
	.cd-nav-trigger{margin-top:3vw !important;/* height:35% !important;*/}
	/*.cd-nav-trigger span{width:100% !important; }*/
}

/*푸터*/
footer{width:100%;height:170px;overflow:hidden;
background-color:#111111;
}
footer .inner{width:1440px; margin:0 auto; height:100%; padding-top:55px;}

footer .inner h4.logo{float:left; display:none; padding-right:23px; }
footer .inner h4.logo a img{width:100%;}

footer .inner p#copyright{
	float:left; font-size:22px; font-family: 'nanum-square-r'; color:#fff;
}
footer .inner ul.rightside{
	float:right;
}
footer .inner ul.rightside li{
	display:inline;
}
footer .inner ul.rightside li:nth-child(1){
	font-size:22px; font-family: 'nanum-square-r'; color:#fff;padding-right:13px;
}
footer .inner ul.rightside li:nth-child(2) a{
	font-size:25px; color:#c88959;  font-family: 'nanum-square-eb'; padding-right:5px;
}
footer .inner p#nationbtn{float:right; position:relative; top:10px;}

@media all and (min-width:1280px) and (max-width:1599px){
	footer .inner{width:1200px;}
}
/*footer .inner h4{display:none;}*/

/*footer 태블릿형*/
@media all and (min-width:600px) and (max-width:1279px){
	footer{height:auto; border:0px solid red;}
	footer .inner{width:92.5%; padding-top:4.5%; padding-bottom:23%; border:0px solid orange;}
	footer .inner h4.logo{border:0px solid red; display:block; float:left; width:20%; position:relative; top:0.5vw;
	padding-right: 2%;}
	footer .inner h4.logo a img{width:100%;}
	footer .inner p#copyright{
		border:0px solid green;
		font-size:2.5vw;
}

	footer .inner ul.rightside li:nth-child(1){
		font-size:2.5vw; padding-right:1vw;
		border:0px solid purple;
	}
	footer .inner ul.rightside li:nth-child(2) a{
		font-size:3vw;
		border:0px solid gray;
	}

	footer .inner p#nationbtn{float:right; position:relative; top:1.5vw; width:2%;}
	footer .inner p#nationbtn a img{
		width:100%;
		border:0px solid white;
	}
} /* 태블릿 종료*/

/*footer 모바일형*/
@media all and (min-width:480px) and (max-width:599px){
	footer{height:auto; border:0px solid red;}
	footer .inner{width:92.5%; padding-top:5%; padding-bottom:13%; border:0px solid orange;
	}
	footer .inner h4.logo{display:block; border:0px solid red; width:22%; padding-right:2.5%;float:left; position:relative; top:0.5vw; padding-right: 2%;}
	footer .inner h4.logo a img{border:0px solid blue; width:100%;}
	footer .inner p#copyright{
		border:0px solid green;
		font-size:2.5vw;
}

	footer .inner ul.rightside li:nth-child(1){
		font-size:2.5vw; padding-right:0.5vw;
		border:0px solid purple;
	}
	footer .inner ul.rightside li:nth-child(2) a{
		font-size:3vw;
		border:0px solid gray;
	}
	footer .inner p#nationbtn{float:right; position:relative; top:1.7vw; width:2%;}
	footer .inner p#nationbtn a img{
		width:100%;
		border:0px solid white;
	}
}
@media all and (max-width:479px){
	footer{height:auto; border:0px solid red;}
	footer .inner{width:92.5%; padding-top:3.76%; padding-bottom:13%; border:0px solid orange;
	}
	footer .inner h4.logo{display:none;}

	footer .inner p#copyright{
		border:0px solid green;
		font-size:2.5vw;
}

	footer .inner ul.rightside li:nth-child(1){
		font-size:2.5vw; padding-right:0.5vw;
		border:0px solid purple;
	}
	footer .inner ul.rightside li:nth-child(2) a{
		font-size:3vw;
		border:0px solid gray;
	}
	footer .inner p#nationbtn{float:right; position:relative; top:2.5vw; width:2%;}
	footer .inner p#nationbtn a img{
		width:100%;
		border:0px solid white;
	}
}
/*모바일 종료*/
