/*reset(초기화 작업)*/
*{margin:0; list-style: none; font-family:"맑은 고딕", Dotum; padding:0; box-sizing:border-box;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{ font-family:"맑은 고딕";font-size:100%;color:#333;font-weight:normal;}
hr{display:none;}
video,img{vertical-align:top;}
input{vertical-align:bottom;}
a{
	color: inherit;
	text-decoration: none;
}
html,body,main{height:100%;}