@font-face {
    font-family: 'nanum-square-l';
    src: url('./nanum-square-l/NanumSquareL.eot');
    src: url('./nanum-square-l/NanumSquareL.eot?#iefix') format('embedded-opentype'),
         url('./nanum-square-l/NanumSquareL.woff') format('woff'),
         url('./nanum-square-l/NanumSquareL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanum-square-r';
    src: url('./nanum-square-r/nanumsquarer.eot');
    src: url('./nanum-square-r/nanumsquarer.eot?#iefix') format('embedded-opentype'),
         url('./nanum-square-r/nanumsquarer.woff2') format('woff2'),
         url('./nanum-square-r/nanumsquarer.woff') format('woff'),
         url('./nanum-square-r/nanumsquarer.ttf') format('truetype'),
         url('./nanum-square-r/nanumsquarer.svg#nanumsquarerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanum-square-b';
    src: url('./nanum-square-b/nanumsquareb.eot');
    src: url('./nanum-square-b/nanumsquareb.eot?#iefix') format('embedded-opentype'),
         url('./nanum-square-b/nanumsquareb.woff2') format('woff2'),
         url('./nanum-square-b/nanumsquareb.woff') format('woff'),
         url('./nanum-square-b/nanumsquareb.ttf') format('truetype'),
         url('./nanum-square-b/nanumsquareb.svg#nanumsquarebregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanum-square-eb';
    src: url('./nanum-square-eb/NanumSquareEB.eot');
    src: url('./nanum-square-eb/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
         url('./nanum-square-eb/NanumSquareEB.woff') format('woff'),
         url('./nanum-square-eb/NanumSquareEB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'MicrosoftTaiLe';
  src: url('./MicrosoftTaiLe/MicrosoftTaiLe.woff') format('woff'),
       url('./MicrosoftTaiLe/MicrosoftTaiLe.ttf') format('truetype'),
	   url('./MicrosoftTaiLe/MicrosoftTaiLe.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TAILE.TTF';
  src: url('TAILE.TTF.eot');
  src: url('TAILE.TTF.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
